@using HomeLoanArun.Models
@model PersonalDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
div {
  
  padding: 10px 2px 10px 10px;
 
}
label {
    width:100px;
    display: inline-block;
}
button
{
    margin-left:150px;
}

th,td {
  padding: 30px;
  text-align: left;
}

 



</style>

<form method = "post">
    <div>
        <h2 class = "text-primary">Create Personal</h2>
    </div>
   @* <div>
        <label asp-for ="ApplicationID"></label>
        <input asp-for ="ApplicationID" />
    </div>
    <br />*@
   
    <div>
        <label asp-for ="FirstName"></label>
        <input asp-for ="FirstName" />
    </div>
    <br />
     <div>
        <label asp-for ="MiddleName"></label>
        <input asp-for ="MiddleName" />
    </div>
    <br />
     <div>
        <label asp-for ="LastName"></label>
        <input asp-for ="LastName" />
    </div>
    <br />
     <div>
        <label asp-for ="EmailId"></label>
        <input asp-for ="EmailId" />
    </div>
    <br />
      <div>
        <label asp-for ="Password"></label>
        <input asp-for ="Password" />
    </div>
    <br />
      <div>
        <label asp-for ="PhoneNumber"></label>
        <input asp-for ="PhoneNumber" />
    </div>
    <br />
      <div>
        <label asp-for ="Dob"></label>
        <input asp-for ="Dob" />
    </div>
    <br />
    <button type = "submit">Submit</button>
   <a asp-controller ="UploadedDocuments" asp-action ="Create">Next</a>



</form>

