@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
div {
  
  padding: 10px 2px 10px 10px;
 
}
label {
    width:100px;
    display: inline-block;
}
button
{
    margin-left:150px;
}
</style>



 



<H1 > Eligibility Calculator </H1>
@using(Html.BeginForm())
{



   
 
      <div class='tenureBlock'>
     
     <label>Income</label>
     <input type=number name="income" id="Income" style="border-radius:3px"><br>
     </div>
    <div class='ROIBlock'>
      <label>ROI</label>
     <input type=number name="ROI1" id="ROI" style="border-radius:3px"><br>
     

    </div>
    <div id=buttonBlock>
    <button style="border-radius:2px" name = "cal" value = "calc">calculate</button><br>
      </div>
    <div class='EMI'>
     <label>TotalLoan</label>
    <input type=number name="Eligibility" id="Eligibility"  value =  "@ViewBag.Res" style = "border-radius:3px">
    </div>
}