
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "CustomerPage";
    Layout = "~/Views/Login/LoginPageLayout.cshtml";
}


<center>

    <h1>Welcome To Customer Dashboard, @ViewBag.fname1 @ViewBag.lname1</h1>

</center>
