
@model IncomeDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="~/css/IncomeDetails.css" />
</head>
<body>


@using(Html.BeginForm("Create1","IncomeDetails",FormMethod.Post, new{ @class="container1" }))
    {


@*<form action="/" class = "container1" method = "post">*@
<div class="title">



<h2>Income details</h2>
</div>
<div class="info">
<input type="text" name="lname" placeholder="Property Location">
<input type="text" name="tname" placeholder="Property Type">
<input type="number" name="ename" placeholder="Estimated Amount">
<input type="number" name="rname" placeholder="Retirement Age">
<input type="text" name="oname" placeholder="Organization Type">
<input type="text" name="enname" placeholder="Employee Name">



<button type="Submit" >Submit</button>
<a asp-controller ="PersonalDetails" asp-action ="create">Next</a>
</div>
}
</body>
</html>


