@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     
    ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Admin/AdminPageLayout.cshtml";
}
<style>
.container {
  position: relative;
  max-width: 800px; 
  margin: 0 auto;
}

.container .content {
  position: absolute;
 top: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}

</style>


<div class = "container">
    <div class = "content">
        <center>

    <h1>Welcome To Admin Dashboard</h1>

</center>

    </div>
</div>


