@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       ViewData["Title"] = "AdminPage";
    Layout = "~/Views/Admin/AdminPageLayout.cshtml";
}
@model List<int>

<style>

    .col-md-3 a{
        background-color: ghostwhite;
    }
        .col-md-3 a:hover {
            background-color: mediumseagreen;
        }
</style>


<h1>
    Document Verification
</h1>
<div class="container">
    <div class="row">
        
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div>
                    <label class="control-label">Application ID:@item</label>
                    <a  asp-controller="admin" asp-action="verifyclick" asp-route-id="@item" class="btn ">Click to Verify</a>
                </div>
            </div>
        }
    </div>
    </div>

