html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


body {
    background-image: url('https://nunl.in/assets/images/ourteam/5f047556a797a.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.dropdown1 .dropbtn1 {
    padding: 9px 5px;
}



