@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    h1{
        text-align:center;
        color:aquamarine;
    }
    h2{
        font-size:40px;
    }
    p{
        font-size:larger;
    }
    div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width:400px;
}

    div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
    }

div.transbox1 {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width:400px;
}

    div.transbox1 p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
    }
  

div.dropdown1 div.dropbtn1 {
    padding: 9px 5px;
}




  
    

</style>
<form class='search-background', style="background: url('@Url.Content("https://akm-img-a-in.tosshub.com/indiatoday/images/story/201510/sm-5-home-loan-nov2-1_67_102215013245.jpg")');">
      <h1 class="display-4">Welcome to Home Loans</h1>
      </form><br>
<h2>Home Loan</h2>
<p>
    Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families <br>to achieve the dream of owning a home.
</p>
<br>
 <div class="transbox">
    <p style="text-align:left">OUR VALUES<br>
        >>Trust<br>
>>Transparency<br>
>>Integrity<br>
>>Excellence<br>
    </p>
  </div>
  <br>

  <div class="transbox1">
    <p style="text-align:left">VALUE TO CUSTOMERS<br>
        >>Wide Product Range<br>
>>No Hidden Costs<br>
>>Low Interest Rates<br>
>>Low Processing Fees<br>
>>Overdraft Facility Available<br>
>>No Pre-Payment Penalty<br>


    </p>
  </div>