@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1{
        color:darksalmon;
        border-color:crimson;
        text-decoration:wavy;
        font-size: 80px;
    }
    img{
        float:inline-end;
        position:relative;
        width: 500px;
    }
    h2{
        color:brown;
    }

</style>

<h1 class="mainpage">
 <span style="color:#FF0000">H</span>
    <span style="color:#66CC66">O</span>
    <span style="color:#FF9966">M</span>
    <span style="color:#FFCCCC">E</span>&nbsp; 
     <span style="color:#FF0000">L</span>
    <span style="color:#66CC66">O</span>
    <span style="color:#FF9966">A</span>
    <span style="color:#FFCCCC">N</span>

</h1>
<h2>Take a step into your dream home</h2><br>
<img src="https://media.istockphoto.com/vectors/workers-repairing-roof-vector-id1207102862?k=20&m=1207102862&s=612x612&w=0&h=hHQ3QmJkC435IA-IxfV79y_6oF_9pmOjIssEONzrPng=">